/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(2 44 34);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 1rem;
    overflow: hidden;
  }

  .progress-bar__fill {
    height: 100%;
    background-color: #76c7c0;
    transition: width 0.3s ease-in-out;
  }

  .jackpot-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .jackpot-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1rem;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
  }

  .main-content {
    margin-top: 4rem; /* Adjust based on the height of your header */
  }
}
